storage "{{ vault_storage_type }}" {}

disable_mlock = "{{ vault_storage_disable_mlock }}"
listener "tcp" {
   address = "{{ vault_listener_ip }}:{{ vault_listener_port }}"
   tls_disable = {{ vault_listener_disable_tls }}
}